@media screen and (min-width: 500px) {
    nav{
        width: 100%;
        height: 42px;
        display: block;
    }
    nav ul{
        flex-direction: row;
    }
    nav a{
        font-size: 1.3rem;
        text-align: center;
        padding: 1rem;
    }
    #btn-menu{
        display: none;
    }

    #results-container{
        flex-direction: row;
        gap: 1rem; 
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    #results-container a{
        width: 250px;
        height: 250px;
        margin: .5rem;
    }

    #results-container h3{
        font-size: 1.2rem;
    }

    .search{
        width: 400px;
        margin: 2rem auto;
    }
    .search label{
        font-size: 1.2rem;
    }
    .search button:enabled:hover{
        box-shadow: 0 0px 5px 5px var(--primary-accent);
        
    }
    .show-card{
        width: 260px;
        height: 600px;
        background-color: var(--secondary-color);
        color: var(--secondary-accent);
        position: relative;
        padding: 1rem;
    }
    .show-card p,
    .favorite-card p{
        font-weight: 400;
        font-size: 1.2rem;
    }
    .btn-favorite{
        font-size: 2rem;
    }
    .favorite-card{
        width: 260px;
        height: 600px;
        background-color: var(--secondary-color);
        color: var(--secondary-accent);
        position: relative;
        padding: 1rem;
    }
    .btn-remove,
    .btn-check,
    .btn-check.checked{
        font-size: 1.5rem;
    }
}