:root{
 --primary-color: #2c2c34; /*body background*/
 --primary-accent: #D8D8F6; /*titles*/
 --secondary-color: #494850; /*cards background*/
 --secondary-accent: #B18FCF;
 --complement-color: #978897;   
}

h1, h2, h3, h4, h5, h6{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: var(--primary-color);
    color: var(--primary-accent);
    padding: 1rem;
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
}

body, p, div, a, nav, li{
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*---- Header section ---*/

header{
    border-bottom: 1px solid var(--complement-color);
    height: 90px;
    overflow-wrap: normal;
    padding: 1rem;
    position: relative;
    margin: 0 auto;
    width: 100%;
}

header a{
    width: 120px;
    text-decoration: none;
    color: var(--primary-accent);
}

nav {
    display: none;
}

nav.show{
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-block: 0;
    padding-inline-start: 0;
}

nav ul li{
    flex: 1 1 100%;
}

nav a{
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: var(--primary-accent);
    font-size: 2rem;
    width: 100%;
}

nav a:hover{
    background-color: var(--secondary-accent);
    color: var(--secondary-color);
}

#btn-menu{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
}

#btn-menu::before{
    content: "X";
}
#btn-menu.show::before{
    content: "☰";   
}
.show{
    display: block;
}

.hide{
    display: none;
}

/*-------------------------*/

/*------body container----*/
.alert{
    display: none;
    position: fixed;
    top: 1rem;
    width: 400px;
    margin: 0 2%;
    border: 2px solid var(--secondary-accent);
    background-color: #e7ddf0;
    color: var(--primary-color);
    padding: .5rem;
    z-index: 1;
}

#results-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    width: 100%;
    overflow-y: visible;
    margin: 2rem 0;
}

.favorite-card{
    width: 90%;
    height: auto;
    background-color: var(--secondary-color);
    border-radius: .5rem;
    color: var(--secondary-accent);
    position: relative;
    padding: 1rem;
    padding-bottom: 60px;
}
.favorite-card img{
    height: auto;
    width: 100%;
    object-fit: fit;
}

.favorite-card h3 {
    font-size: 2rem;
    text-align: center;
    margin: 1.5rem auto;
}
.favorite-card p {
    font-size: 1.3rem;
    text-align: left;
}

.show-card{
    width: 380px;
    height: 800px;
    background-color: var(--secondary-color);
    border-radius: .5rem;
    color: var(--secondary-accent);
    position: relative;
    padding: 1rem;
}

.show-card img{
    height: auto;
    width: 100%;
    object-fit: fit;
}

.show-card h3{
    font-size: 2rem;
    text-align: center;
    margin: 1.5rem auto;
}
.show-card p{
    font-size: 1.5rem;
    text-align: left;
    font-weight: 500;
}
.show-card div{
    font-size: 1.3rem;
    text-align: left;
    font-weight: 400;
}
.btn-favorite{
    font-size: 2.5rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
}

.btn-favorite::after{
    content: "☆";
    color: #fff;
}

.btn-favorite.isFavorite::after{
    content: "⭐";
}

.btn-remove{
    font-size: 2rem;
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    cursor: pointer;
}

.btn-check{
    font-size: 2rem;
    position: absolute;
    bottom: 0.5rem;
    right: 5rem;
    cursor: pointer;
}

.btn-remove::before{
    content: "❌";
}

.btn-check::before{
    content: "👀";
}
.btn-check.checked::before{
    content: "✅";
}

.btn-info{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}
.btn-info::after{
    content:"🔎";
}
.btn-info:hover{
    cursor: pointer;
}

.service-card{
    background-color: var(--secondary-color);
    border-radius: .5rem;
    color: var(--primary-accent);
    padding: .5rem;
    text-align: center;
    height: auto;
    width: 100%;
}
.service-card img{
    width: 100%;
    height: 200px;
    object-fit: fit;
}
.service-card h3{
    font-size: 2rem;
    margin-top: .5rem;
}
.service-card:hover img{
    transform: scale(0.8);
}
.service-card:hover {
    color: var(--secondary-accent);
    text-decoration: underline;
    text-decoration-color: var(--secondary-accent);
    box-shadow: 0 0px 5px 5px var(--complement-color);
    transition: all .2s linear;
}
.show-card:hover{
    color: var(--secondary-accent);
    text-decoration-color: var(--secondary-accent);
    box-shadow: 0 0px 5px 5px var(--complement-color);
    transition: all .2s linear;
}
#show-info{
    display: none;
    background-color: var(--secondary-color);
    color: var(--primary-accent);
    position: relative;
    width: 382px;
    padding: 1rem;
    position: relative;
    border-radius: .5rem;
    margin: 2rem 0;
}

#show-info a{
    color: var(--primary-accent);
    text-decoration: none;
}
#show-info a:hover{
    text-decoration: underline;
}
#show-info h3{
    text-align: center;
    font-size: 1.6rem;
}
#show-info img{
    margin: 2rem auto;
    width: 100%;
}
#show-info p{
    margin: 1rem auto;
    font-size: 1.3rem;
}
.favorite{
    position: absolute;
    bottom: .5rem;
    right: .5rem;
}
.search{
    width: 100%;
}
.search label{
    display: block;
    font-size: 2rem;
    margin-top: 1rem;
}
.search input,
.search select,
.search button{
    width: 100%;
    max-width: 450px;
    height: 42px;
    border-radius: .5rem;
}

.search button{
    border: none;
    margin-top: 1.5rem;
    background-color: var(--secondary-accent);
    color: var(--primary-color);
    font-size: 2rem;
}
.search button:enabled{
    background-color: var(--primary-accent);
}

select:required:has(option[value=""]:checked),
select:required:has(option[value="all"]:checked),
#imdb:required:invalid,
#title:required:invalid{
    border-bottom: 2px solid #f56;
}

/*-------------------------*/

/*------footer section----*/
footer{
    border-top: 1px solid var(--complement-color);
    margin-top: 1.5rem;
}